name: CI
run-name: Render

on:
  push:
    branches:
      - master
    paths-ignore:
      - .gitignore
      - README*
      - LICENSE
      - .github/**
      - "!.github/workflows/ci.yml"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: fontist/setup-fontist@v2
      - run: fontist manifest-install manifest.yml

      - name: Setup Typst
        uses: typst-community/setup-typst@v4
        with:
          typst-version: ^0.14
          cache-dependency-path: requirements.typ

      - run: rm -f typst/requirements.pdf
      - run: typst --version
      - run: typst fonts --font-path ~/.fontist/fonts

      - run: typst compile syllabus.typ
      - run: typst compile lec-prop-logic.typ
      - run: typst compile lec-normal-forms.typ
      - run: typst compile lec-sat.typ
      - run: typst compile lec-dpll.typ
      - run: typst compile lec-computation.typ
      - run: typst compile lec-fol.typ
      - run: typst compile lec-smt.typ
      - run: typst compile lec-dafny.typ

      - name: List all PDFs
        run: ls -lh **/*.pdf

      - name: Upload PDFs as artifact
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: "*.pdf"

      - name: Prepare files for gh-pages
        run: |
          mkdir -p public
          mv *.pdf public/

      - name: Publish PDFs to gh-pages branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          force_orphan: true
